{{define "title"}}History Page{{end}} {{define "body"}}


<div class="container">
    <div class="col-xs-12 col-sm-12">
        <h3 style="text-align: center;color:black">Transaction ID Request</h3>
        <h1 style="text-align: center;color: black; padding-bottom: 20px">Get message by Transaction ID</h1>
        <form class="form-horizontal" action="checkfortxid.html" method="post">

                <div class="form-group blocklimslabel">
                        <label class="iotablocktext">Copy and paste Transaction ID here </label>
                        <input type="text" class="form-control" id="txid" placeholder="Enter Tx Id here" name="txid">
                </div>
            
                <!-- Place two more inuts here, address and seed and take it out the controller -->

    <hr/>
            <div class="form-group blocklimslabel">
                <div style="text-align: center">
                    <input type="hidden" name="submitted" value="true">
                    <button type="submit" class="btn btn-info">Send Transaction ID</button>
                </div>
            </div>
         </form>
    </div>
</div>

<div class="container blocklimslabel" style="font-size: 18px">

    <div class="form-group row">
        <div class="col-sm-3">
            <label class="col-sm-12 blocklimslabel" style="text-align: left">Message:</label>
        </div>
        <div class="col-sm-9" style="text-align: left">{{.Message}}</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3">
            <label class="col-sm-12 blocklimslabel" style="text-align: left">Value:</label>
        </div>
        <div class="col-sm-9" style="text-align: left">{{.Value}}</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3">
            <label class="col-sm-12 blocklimslabel" style="text-align: left">Recipient:</label>
        </div>
        <div class="col-sm-9" style="text-align: left;font-size: 11px">{{.Recipient}}</div>
    </div>

</div>



{{end}}