{{define "layout-login"}}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DappDevelopment - {{template "title"}}</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/assets/css/IoT.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>



<div style="padding-left: 40px; padding-top: 20px">
    <a href="/" style="color:#2170B3">
        <img src="/assets/images/dapplogo.png" alt="DappDevelopment" height="45" title="DappDevelopment" /> Blockchain Data System - CapnographyOnBlock<sup>&#169;</sup>
    </a>
</div>


<div class="jumbotron">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-3">
                <img src="/assets/images/capno1.png" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6" style="color: rgb(200, 27, 27)">
                <h2>Capnography on Blockchain</h2>
                <h3>- IoT Blockchain Information -</h3>
                <h4 style="color:lemonchiffon">Hashed Health: Authenticity + Memory</h4>
            </div>
            <div class="col-xs-12 col-sm-3 ">
                <img src="/assets/images/capno1.png " class="img-responsive ">
            </div>
        </div>
    </div>
</div>

<body>
    {{template "body" .}}
</body>

<footer class="container text-center blocklimstext ">
    &#169; This is blockchain application is owned by <a hreff="http://www.lifechains.com/ ">LIFEChains B.V.</a> and was developed by <a href="http://www.dappdevelopment.com/ ">DappDevelopment.com</a>
    <br> It shows how to transact personal medical attributes on the Hyperledger fabric blockchain.
    <br> Developed under the Apache License (version 2.0).
</footer>

<script src="/assets/js/jquery-3.2.1.min.js "></script>
<script src="/assets/js/bootstrap.min.js "></script>


</html>
{{end}}