{{define "title"}}History Page{{end}} {{define "body"}}


<div class="table_container">
    <div class="row row-content" action="queryallmessages.html" method="post">
        <!-- <div class="col-xs-1 col-sm-1"></div> -->
        <div class="col-xs-12 col-sm-12 blocklimstext" style="text-align:center">
            <div>
                <h1 style="color: black">IOTA tangle history</h1>
            </div>
            <div>
                <h2 style="color: white;font-size: 18px">For address: {{range .}} {{.Recipient}} {{end}}</h2>
            </div>

            <div class="wrap">
                <table class="head">
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:55%">
                        <col style="width:10%">
                        <col style="width:25%">
                    </colgroup>
                    <tr class="tr_background">
                        <th>Message number</th>
                        <th>Message</th>
                        <th>Value</th>
                        <th>Time stamp</th>
                    </tr>
                    
                </table>

                <div class="inner_table">
                    <table>
                            <colgroup>
                                <col style="width:10%">
                                <col style="width:55%">
                                <col style="width:10%">
                                <col style="width:25%">
                            </colgroup>
                        {{ range .}}
                        <tr>
                            <td>{{.Number}}</td>
                            <td>{{.Message}}</td>
                            <td>{{.Value}}</td>
                            <td>{{.Timestamp}}</td>
                        </tr>
                        {{end}}
                    </table>

                </div>

            </div>

        </div>
        <!-- <div class="col-xs-1 col-sm-1"></div> -->
    </div>

</div>


{{end}}